@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;

  --color-blue-depth: #1e4f7a;
  --color-green-sprout: #4da25a;
  --color-green-herbal: #9ace5f;

  --color-background: #f4f7f9;
  --color-text-title: #184671;
  --color-text-secondary: #5f6b75;
  --color-text-body: #141414;
}

@layer base {
  * {
    @apply box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply m-0 min-w-80 bg-background text-text-body font-sans antialiased;
  }

  button,
  a,
  select {
    @apply cursor-pointer;
  }
}
